::ng-deep .mat-dialog-container {
  overflow: hidden;
  position: relative;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  max-width: 100%;
  max-height: 100%;
}

.modal-image {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  transition: transform 0.3s ease-in-out;
}

.zoomed {
  transform: scale(1.5);
}

/* Expand & Shrink Button Container */
.size-controls {
  position: absolute;
  bottom: 10px;
  left: 10px;
  display: flex;
  gap: 10px;
}

/* Expand & Shrink Buttons */
.size-button {
  background-color: rgba(0, 123, 255, 0.8);
  color: white;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  font-size: 14px;
  border-radius: 5px;
  transition: background-color 0.2s ease-in-out;
}

.size-button:hover {
  background-color: rgba(0, 123, 255, 1);
}

.shrink {
  background-color: rgba(220, 53, 69, 0.8);
}

.shrink:hover {
  background-color: rgba(220, 53, 69, 1);
}
