
.label-title{
    color: black;
}


  

.table-scrollable {
    max-height: 700px; /* 500px Set your desired height */
    overflow-x: auto; /* Enable horizontal scrolling */
    overflow-y: auto; /* Enable vertical scrolling */
  }

  .table-scrollable::-webkit-scrollbar {
    width: 10px; /* Adjust scrollbar width */
    height: 10px; /* Adjust scrollbar height */
  }

  .table-scrollable::-webkit-scrollbar-thumb {
    background-color: #b2bccc; /* Scrollbar color */
    border-radius: 10px; /* Rounded corners */
  }

  .table-scrollable::-webkit-scrollbar-track {
    background: #f1f1f1; /* Track color */
  }

  .table-card-size-collapse{
    width: 80%;
    margin: 0 auto;
    border-collapse: collapse;
  }

    // later added
  .table-scrollable .table tbody tr td,
  .table-scrollable .table thead tr th td {
      height: 10px;
      line-height: 10px;
      vertical-align: middle; /* Ensure content aligns vertically */
  }
  