<div class="container-fluid p-2">  
    <h4 class="label-title">Agency Edit</h4> 
    <div class="card shadow-lg p-4">
        <form [formGroup]='agencyForm'>
            <div style="position: sticky;">
                <div class="row g-3">
                    <div class="col-md-4 col-lg-4">
                        <div class="form-group">
                            <label for="agencyName" class="label-title">Name<small class="text-danger">*</small></label>
                            <input type="text" class="form-control " id="agencyName" formControlName="agencyName" [class.disabled]="true" required>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-4">
                        <div class="form-group">
                            <label for="agencyEmail" class="label-title">Email<small class="text-danger">*</small></label>
                            <input type="text" class="form-control " id="agencyEmail" formControlName="agencyEmail" [class.disabled]="true" required>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-4">
                        <div class="form-group">
                            <label for="agencyPrimaryContact" class="label-title">Primary Contact<small class="text-danger">*</small></label>
                            <input type="text" class="form-control " id="agencyPrimaryContact" formControlName="agencyPrimaryContact" [class.disabled]="true" required>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-4">
                        <div class="form-group">
                            <label for="agencySecondaryContact" class="label-title">Secondary Contact</label>
                            <input type="text" class="form-control " id="agencySecondaryContact" formControlName="agencySecondaryContact">
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-4">
                        <div class="form-group">
                            <label for="agencyNID" class="label-title">NID</label>
                            <input type="text" class="form-control " id="agencyNID" formControlName="agencyNID">
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-4">
                        <div class="form-group">
                            <label for="agencyPresentAddress" class="label-title">Present Address</label>
                            <input type="text" class="form-control " id="agencyPresentAddress" formControlName="agencyPresentAddress">
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-4">
                        <div class="form-group">
                            <label for="agencyPermanentAddress" class="label-title">Permanent Address</label>
                            <input type="text" class="form-control " id="agencyPermanentAddress" formControlName="agencyPermanentAddress">
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-4">
                        <div class="form-group">
                            <label for="agencyTradeLicense" class="label-title">Trade License</label>
                            <input type="text" class="form-control " id="agencyTradeLicense" formControlName="agencyTradeLicense">
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-4">
                        <div class="form-group">
                           <br>
                           <button type="submit" class="btn btn-sm btn-outline-success">
                            <i class="fa fa-pencil"></i> | Update
                           </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>