<div class="container-fluid p-2">  
  <h4 class="label-title"> <i class="fa fa-plus-circle"></i> Add Permission</h4>  
    <div class="row m-t-sm mt-0">
      <div class="col-md-12 mb-2">
        <div class="card shadow-lg p-4">
          <form [formGroup]="form" (ngSubmit)="onUpdate()" *ngIf="isEditClicked; else elseblock">
            <div class="row mb-3">  
             <div class="col-md-4">      
               <label for="permissionName" class="label-title">Menu Name</label><span class="text-danger"> * </span>                 
               <input type="text" class="form-control textbox-border-color" id="permissionName" formControlName="permissionName" required>
               <div *ngIf="form.get('permissionName')?.touched && form.get('permissionName')?.invalid">
                 <div *ngIf="form.get('permissionName')?.errors?.['required']" class="text-danger">
                   Menu name is required.
                 </div>                    
             </div>                 
            </div>

           <div class="col-md-4">  
             <label for="permissionKey" class="label-title">Menu Path</label><span class="text-danger"> * </span>
             <input type="text" class="form-control textbox-border-color" id="permissionKey" formControlName="permissionKey" required>
             <div *ngIf="form.get('permissionKey')?.invalid && form.get('permissionKey')?.touched" class="text-danger">
               Path is required.
             </div>                
           </div>
   

           <div class="col-md-4">      
               <label for="permissionType" class="label-title">Permission Type</label><span class="text-danger"> * </span>                 
               <select class="form-control textbox-border-color" id="permissionType" formControlName="permissionType" required="required">
                 <option value="FrontEnd">FrontEnd</option>                             
               </select>   
               <div *ngIf="form.get('permissionType')?.touched && form.get('permissionType')?.invalid">
                 <div *ngIf="form.get('permissionType')?.errors?.['required']" class="text-danger">
                   Permission Type is required.
                 </div>                    
             </div>                 
           </div>
             
           </div>

           <div class="row mb-3">            
               <div class="col-md-4">
                 <label for="mainMenuID" class="label-title">Main Menu ID</label><span class="text-danger"> * </span>
                 <input type="number" class="form-control textbox-border-color no-spinner" id="mainMenuID" formControlName="mainMenuID" min="0" required />
                 <div *ngIf="form.get('mainMenuID')?.touched && form.get('mainMenuID')?.invalid">
                   <div *ngIf="form.get('mainMenuID')?.errors?.['required']" class="text-danger">
                     Main menu ID is required.
                   </div>                  
                 </div>
              </div>       
              <div class="col-md-4">
                 <label for="subMenuID" class="label-title">Sub Menu ID</label><span class="text-danger"> * </span>
                 <input type="number" class="form-control textbox-border-color no-spinner" id="subMenuID" formControlName="subMenuID" min="0" required />
                 <div *ngIf="form.get('subMenuID')?.touched && form.get('subMenuID')?.invalid">
                   <div *ngIf="form.get('subMenuID')?.errors?.['required']" class="text-danger">
                     Sub menu ID is required.
                   </div>                  
                 </div>
             </div>    
             <div class="col-md-4">      
               <br>
               <button type="submit" class="btn btn-sm btn-outline-primary" [disabled]="form.invalid">
                <i class="fa fa-paper-plane"></i> | Update
               </button>                   
               &nbsp;
              <button type="reset" class="btn btn-sm btn-outline-danger" (click)="updateReset()">
                <i class="fa fa-undo"></i> | Reset
              </button>                   
            </div> 
           </div>
         </form>
         <ng-template #elseblock>       
          <form [formGroup]="form" (ngSubmit)="onSubmit()">
             <div class="row mb-3">  
              <div class="col-md-4">      
                <label for="permissionName" class="label-title">Menu Name</label><span class="text-danger"> * </span>                 
                <input type="text" class="form-control textbox-border-color" id="permissionName" formControlName="permissionName" required>
                <div *ngIf="form.get('permissionName')?.touched && form.get('permissionName')?.invalid">
                  <div *ngIf="form.get('permissionName')?.errors?.['required']" class="text-danger">
                    Menu name is required.
                  </div>                    
              </div>                 
             </div>

            <div class="col-md-4">  
              <label for="permissionKey" class="label-title">Menu Path</label><span class="text-danger"> * </span>
              <input type="text" class="form-control textbox-border-color" id="permissionKey" formControlName="permissionKey" required>
              <div *ngIf="form.get('permissionKey')?.invalid && form.get('permissionKey')?.touched" class="text-danger">
                Path is required.
              </div>                
            </div>
    

            <div class="col-md-4">      
                <label for="permissionType" class="label-title">Permission Type</label><span class="text-danger"> * </span>                 
                <select class="form-control textbox-border-color" id="permissionType" formControlName="permissionType" required="required">
                  <option value="FrontEnd">FrontEnd</option>                             
                </select>   
                <div *ngIf="form.get('permissionType')?.touched && form.get('permissionType')?.invalid">
                  <div *ngIf="form.get('permissionType')?.errors?.['required']" class="text-danger">
                    Permission Type is required.
                  </div>                    
              </div>                 
            </div>
              
            </div>

            <div class="row mb-3">            
                <div class="col-md-4">
                  <label for="mainMenuID" class="label-title">Main Menu ID</label><span class="text-danger"> * </span>
                  <input type="number" class="form-control textbox-border-color no-spinner" id="mainMenuID" formControlName="mainMenuID" min="0" required />
                  <div *ngIf="form.get('mainMenuID')?.touched && form.get('mainMenuID')?.invalid">
                    <div *ngIf="form.get('mainMenuID')?.errors?.['required']" class="text-danger">
                      Main menu ID is required.
                    </div>                  
                  </div>
               </div>       
               <div class="col-md-4">
                  <label for="subMenuID" class="label-title">Sub Menu ID</label><span class="text-danger"> * </span>
                  <input type="number" class="form-control textbox-border-color no-spinner" id="subMenuID" formControlName="subMenuID" min="0" required />
                  <div *ngIf="form.get('subMenuID')?.touched && form.get('subMenuID')?.invalid">
                    <div *ngIf="form.get('subMenuID')?.errors?.['required']" class="text-danger">
                      Sub menu ID is required.
                    </div>                  
                  </div>
              </div>    
              <div class="col-md-2">       
                <br>
                <button type="submit" class="btn btn-sm btn-outline-success" [disabled]="form.invalid">
                  <i class="fa fa-paper-plane"></i> | Submit
                </button>                   
              </div> 
            </div>
          </form>
        </ng-template>     
        </div>      
  
        <div class="card shadow-lg p-4 mt-0">
              <div class="table-scrollable">     
                  <div class="table-responsive">  
                      <div class="d-flex justify-content-between align-items-center mb-3">                           
                        <form [formGroup]="permissionListForm" class="d-flex">
                          <div class="form-group mb-0" style="width: 380px;">
                            <label for="searchString" class="label-title">Search </label>
                            <input type="text" class="form-control textbox-border-color" formControlName="searchString"
                              placeholder="Search by anything..."/>
                          </div>
                        </form>
                      </div>                
                   
                      <table class="table table-hover table-striped textbox-border-color">
                        <thead>                            
                          <tr class="text-center">   
                            <th>#SL</th>
                            <th>Menu Name</th>
                            <th>Menu Path</th>                           
                            <th>Permission Type</th>             
                            <th>Main Menu ID</th>             
                            <th>Sub Menu ID</th>                                   
                            <th>Activation Status</th>                       
                            <th>Approve Status</th>    
                            <th>Action</th>      
                          </tr>
                        </thead>
                        <tbody class="text-center">
                          <ng-container *ngFor="let data of list | paginate: { id: 'list', itemsPerPage: pagination.pageSize, currentPage: pagination.pageNumber, totalItems: pagination.totalRows }; let i =index">
                            <tr>                                   
                              <td>{{ (pagination.pageNumber - 1) * pagination.pageSize + i + 1 }}</td>  
                              <td>{{ data.permissionName }}</td>    
                              <td>{{ data.permissionKey }}</td>    
                              <td>{{ data.permissionType }}</td>                                   
                              <td>{{ data.mainMenuID }}</td>     
                              <td>{{ data.subMenuID }}</td>  
                              <td class="text-center">
                                <span [class]="data.isActive ? 'label label-primary' : 'label label-danger'">
                                  {{ data.isActive ? "Active" : "Inactive" }}
                                </span>
                              </td>
                              <td class="text-center">
                                <span class="label label-warning" *ngIf="data.stateStatus=='Pending'">{{data.stateStatus}}</span>
                                <span class="label label-primary" *ngIf="data.stateStatus=='Approved'">
                                  <i class="fa fa-check"></i> {{data.stateStatus}}
                                </span>
                                <span class="label label-danger" *ngIf="data.stateStatus=='Cancelled'">
                                  <i class="fa fa-times"></i> {{data.stateStatus}}
                                </span>
                                <span class="label label-info" *ngIf="data.stateStatus=='Recheck'">
                                  <i class="fa fa-backward"></i> {{data.stateStatus}}
                                </span>
                              </td>   
                              <td>
                                <button type="button" class="btn btn-sm btn-primary btn-size" (click)="editClick(data)" title="Edit">
                                  <i class="fa fa-pencil"></i>
                                </button> 
                                &nbsp;
                                <button type="button" class="btn btn-sm btn-danger btn-size" (click)="confirmDelete(data.permissionID, data.permissionName)" title="Delete">
                                  <i class="fa fa-trash"></i>
                                </button> 
                              </td>                                                         
                            </tr>
                          </ng-container>                                 
                        </tbody>
                      </table>
                      
                      <div class="d-flex justify-content-end">
                        <pagination-controls 
                        id="list"
                        (pageChange)="listPageChanged($event)"
                        [maxSize]="5" 
                        [directionLinks]="true"
                        [autoHide]="false"
                        previousLabel="Previous"
                        nextLabel="Next" style="color: black;">
                      </pagination-controls>
                    </div>

                  </div>
          
              </div>  
        </div>

    
  

      </div>  
      
    </div>

</div>
  



  