<div class="row">
  <div class="col-lg-12">
    <div class="ibox">
      <div class="ibox-title">
        <h5>Assign Technician</h5>
      </div>
      <div class="ibox-content">
        <form [formGroup]="assignTechnicianForm" *ngIf="isEditClicked; else elseblock">
          <div class="row">
            <div class="col-md-6">
              <label for="categoryID" class="label-title">Technician Category</label><span class="text-danger"> * </span>
              <select (change)="selectCategory($event)" class="form-control " id="categoryID" formControlName="technicianCategoryName" required="required">
                <option value="">---Select---</option>
                <option *ngFor="let item of technicianCategories" [value]="item.id">
                  {{ item.text }}
                </option>
              </select>
              <div *ngIf="assignTechnicianForm.get('technicianCategoryName')?.touched && assignTechnicianForm.get('technicianCategoryName')?.invalid">
                <div *ngIf="assignTechnicianForm.get('technicianCategoryName')?.errors?.['required']" class="text-danger">
                  Category is required.
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <label for="technicianID" class="label-title">Technician</label><span class="text-danger"> * </span>
              <select (change)="selectTechnician($event)" class="form-control " id="technicianID" formControlName="technicianName" required="required">
                <option value="">---Select---</option>
                <option *ngFor="let item of technicians" value="{{item.id}}">{{item.text}}</option>
              </select>
              <div *ngIf="assignTechnicianForm.get('technicianID')?.touched && assignTechnicianForm.get('technicianID')?.invalid">
                <div *ngIf="assignTechnicianForm.get('technicianID')?.errors?.['required']" class="text-danger">
                  Technician is required.
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <label for="complainID" class="label-title">Complain</label><span class="text-danger"> * </span>
              <input id="complainID" class="form-control" type="text" [value]="complain.complainName" disabled />
            </div>

            <div class="col-md-4 offset-4">
              <br>
              <button type="submit" class="btn btn-sm btn-outline-success" [disabled]="assignTechnicianForm.invalid">
                <i class="fa fa-paper-plane"></i> | Submit
              </button>
              &nbsp;
              <button type="reset" class="btn btn-sm btn-outline-danger">
                <i class="fa fa-ban"></i> | Cancel
              </button>
            </div>
          </div>
        </form>

        <ng-template #elseblock>
          <form [formGroup]="assignTechnicianForm" (ngSubmit)="onSubmit()">
            <div class="row">
              <div class="col-md-6">
                <label for="categoryID" class="label-title">Technician Category</label><span class="text-danger"> * </span>
                <select class="form-control " id="categoryID" formControlName="categoryID" (change)="selectCategory($event)" required="required">
                  <option value="">---Select---</option>
                  <option *ngFor="let item of technicianCategories" value="{{item.id}}">{{item.text}}</option>
                </select>
                <div *ngIf="assignTechnicianForm.get('categoryID')?.touched && assignTechnicianForm.get('categoryID')?.invalid">
                  <div *ngIf="assignTechnicianForm.get('categoryID')?.errors?.['required']" class="text-danger">
                    Category is required.
                  </div>
                </div>
              </div>

              <div class="col-md-6">
                <label for="technicianID" class="label-title">Technician</label><span class="text-danger"> * </span>
                <select (change)="selectTechnician($event)" class="form-control " id="technicianID" formControlName="technicianID" required="required">
                  <option value="">---Select---</option>
                  <option *ngFor="let item of technicians" value="{{item.id}}">{{item.text}}</option>
                </select>
                <div *ngIf="assignTechnicianForm.get('technicianID')?.touched && assignTechnicianForm.get('technicianID')?.invalid">
                  <div *ngIf="assignTechnicianForm.get('technicianID')?.errors?.['required']" class="text-danger">
                    Technician is required.
                  </div>
                </div>
              </div>

              <div class="col-md-12">
                <label for="complainID" class="label-title">Complain</label><span class="text-danger"> * </span>
                <textarea id="complainID" placeholder="Type your Complain ....." class="form-control"  disabled></textarea>
            </div>
            

              <div class="col-md-2">
                <br>
                <button type="submit" class="btn btn-sm btn-outline-success" [disabled]="assignTechnicianForm.invalid">
                  <i class="fa fa-paper-plane"></i> | Submit
                </button>
              </div>
            </div>
          </form>
        </ng-template>
      </div>
    </div>
  </div>
</div>

    
  
  
  
    