<div class="container-fluid p-2">  
    <h4 class="label-title">Tenant Information</h4>  
  
    <div class="row">   
      <div class="col-sm-4">
          <div class="title-action">
            <button type="button" class="btn btn-sm btn-primary btn-outline btn-rounded" (click)="listPageInit()"
            *ngIf="entryPage"><i class="fa fa-arrow-left"></i> | Back to List</button>
     
         <button type="button" class="btn btn-sm btn-success btn-outline btn-rounded" (click)="[createTenant()]"
            *ngIf="listPage" title="Add New Tenant"><i class="fa fa-plus"></i> | Create</button>           
          </div>
      </div>
  
    </div>
    <br>
    
    <div class="row m-t-sm mt-0">
        <div class="col-md-12 mb-4" *ngIf="listPage">
          <div class="card shadow-lg p-4">
            <form [formGroup]="tenantFrom">
              <div class="row g-3">   

              <div class="col-md-6 col-lg-4">
                  <div class="form-group">
                      <label for="propertyID" class="label-title">Property <i class="fa fa-angle-down"></i> <span class="text-danger"> *</span></label>
                      <div class="dropdown-container">
                          <input type="text"   
                              [formControl]="propertySearchControl" 
                              formControlName="propertyID"
                              (focus)="isPropertyDropdownOpen = true"
                              placeholder=" Search by Property..."
                          />
                          <button mat-button class="btn btn-primary btn-sm" (click)="propertyToggleDropdown()">▼</button>               
                          <button *ngIf="tenantFrom.controls['propertyID'].value" mat-button class="btn-clear" 
                              (click)="clearPropertySelection()">✖</button>              
                          <ul *ngIf="isPropertyDropdownOpen" class="dropdown-list">
                              <li *ngFor="let item of filteredProperties" (click)="selectProperty(item)">
                                  {{ item.text }}
                              </li>
                              <li *ngIf="filteredProperties.length === 0">No results found</li>
                          </ul>
                      </div>                        
                      <div
                          *ngIf="tenantFrom.get('propertyID')?.invalid && (tenantFrom.get('propertyID')?.dirty || tenantFrom.get('propertyID')?.touched)">
                          <span class="text-danger">Property is required.</span>
                      </div>   
                  </div>
              </div>

              </div>
            </form>
        
          </div>      
    
  
          <div class="card shadow-lg p-4 mt-4">
                <div class="table-scrollable">
                    <div class="table-responsive">
                        <table class="table table-hover table-striped textbox-border-color">       
                            <thead>
                            <tr class="text-center">
                                <th>Action</th>  
                                <th>#SL</th>    
                                <th>Property Name</th>             
                                <th>Property Type</th>             
                                <th>Email</th>             
                                <th>Contact</th>             
                                <th>Address</th>             
                            </tr>
                            </thead>
                            <tbody class="text-center">
                            <ng-container *ngFor="let data of list; let i =index">
                                <tr (click)="tenantToggleDetails(data.tenantInfoID)">
                                  <td>
                                      <button type="button" class="btn btn-rounded btn-sm btn-success text-white btn-size" title="Details">
                                      {{ expandedRows[data.tenantInfoID] ? '-' : '+' }}
                                      </button>
                                  </td>         
                                  <td>                       
                                      {{ i + 1 }}
                                  </td>  
                                  <td>{{ data.propertyName }}</td>                                     
                                  <td>{{ data.propertyType }}</td>                                     
                                  <td>{{ data.emailAddress }}</td>                                     
                                  <td>{{ data.contactNumber }}</td>                                     
                                  <td>{{ data.address }}</td>                                     
                                </tr>
                            
                                <ng-container *ngIf="expandedRows[data.tenantInfoID]">
                                <tr>
                                    <td colspan="7" >
                                      <div *ngIf="selectedTenantDetails[data.tenantInfoID]?.length; else loading">
                                          <table class="table table-hover table-striped textbox-border-color">
                                          <thead>
                                              <tr class="text-center">
                                              <th>#SL</th>      
                                              <th>Tenant Name</th>
                                              <th>Email</th>                                     
                                              <th>Contact</th>                                     
                                              <th>Address</th>                                     
                                              <th>Action</th>
                                              </tr>
                                          </thead>
                                          <tbody class="text-center">
                                              <tr
                                              *ngFor="let detail of selectedTenantDetails[data.tenantInfoID]; let j = index">
                                              <td>{{ j + 1 }}</td>                                     
                                              <td>{{ detail.tenantName }}</td>
                                              <td>{{ detail.emailAddress }}</td>                                       
                                              <td>{{ detail.contactNumber }}</td>                                       
                                              <td>{{ detail.address }}</td>                                      
                                              <td class="text-center">
                                                <button type="button" class="btn btn-sm btn-rounded btn-primary btn-size" title="Edit" style="font-size: 11px;">
                                                <i class="fa fa-pencil"></i></button>                                            
                                                <!-- <button type="button" class="btn btn-sm btn-rounded btn-danger" title="Delete"> <i class="fa fa-trash"></i>
                                                </button> -->
                                              </td>
                                              </tr>
                                          </tbody>
                                          </table>
                                      </div>
                                        <ng-template #loading>
                                            <small class="text-center">Loading details...</small>
                                        </ng-template>
                                    </td>
                                </tr>
                                </ng-container>
                            </ng-container>                                 
                            </tbody>
                        </table>
                    </div>
            
                </div>  
          </div>
          
          <div class="d-flex justify-content-end">
            <pagination-controls (pageChange)="listPageChanged($event)" [responsive]="true"
            [autoHide]="true" id="list"></pagination-controls>
          </div>

        </div>
  
        <div class="col-md-12 mb-4" *ngIf="entryPage">
            <app-add-tenant
                (childToParent)="fnBackToList($event)">
            </app-add-tenant>
        </div>
  
        
    </div>
  
  </div>
    
  
  
  
    