<div class="row">
  <div class="col-lg-12">

    <div class="ibox">
      <div class="ibox-title">
        <h5>Complain List</h5>
      </div>

      <form [formGroup]="complainFrom">
        <div class="ibox-content">

          <div class="row">
            <div class="col-md-4 col-lg-4">
              <div class="form-group">
                <p>Property <i class="fa fa-angle-down"></i></p>
                <select class=" form-control" formControlName="propertyID">
                  <option value="">---Search by Property---</option>
                  <option *ngFor="let item of filteredProperties" >{{ item.text }}</option>
                </select>
              </div>
            </div>
            
            <div class="col-md-4 col-lg-4">
              <div class="form-group">
                <p>Status <i class="fa fa-angle-down"></i></p>
                <select class=" form-control" formControlName="stateStatus">
                  <option value="">---Search by Status---</option>
                  <option *ngFor="let item of ddlStatus" >{{ item }}</option>
                </select>
              </div>
            </div>
            
            <div class="col-md-4 col-lg-4">
              <div class="form-group">
                <p>Activation Status <i class="fa fa-angle-down"></i></p>
                <select class=" form-control" formControlName="isActive">
                  <option [value]="true" [selected]="true">---Search by Activation---</option>
                  <option [value]="true">Active</option>
                  <option [value]="false">In-Active</option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </form>
     
    </div>
  </div>
</div>



<div class="row">
  <div class="col-lg-12">
    <div class="ibox">
      <div class="ibox-title">
      </div>
      <div class="ibox-content">
        <table class="footable table table-striped toggle-arrow-tiny">
          <thead>
            <tr>
              <th data-toggle="true">#SL</th>
              <th>Segment</th>
              <th>Complain</th>
              <th>Comments</th>
              <th>Images</th>
              <th>Status</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let complain of complains | paginate: { id: 'list', itemsPerPage: pagination.pageSize, currentPage: pagination.pageNumber, totalItems: pagination.totalRows }; let i = index">
              <td >{{ (pagination.pageNumber - 1) * pagination.pageSize + i + 1 }}</td>
              <td >{{ complain.segmentName }}</td>
              <td >
                <div class="complain-text">{{ complain.complainName }}</div>
              </td>
              <td >
                <div class="complain-text">{{ complain.comments }}</div>
              </td>
              <td>
                <div *ngIf="imageUrls && imageUrls[i]?.length">
                  <a class="d-flex flex-column" title="Show Images" (click)="openModal(imageUrls[i][0])" mat-raised-button>
                    {{ imageUrls[i].length }} {{ imageUrls[i].length === 1 ? 'Image' : 'Images' }}
                  </a>
                </div>
              </td>
              
              
              <td >
                <span class="label label-primary" *ngIf="complain.isCompleted">Completed</span>
                <span class="label label-info" *ngIf="complain.isSolved && !complain.isCompleted">Solved</span>
                <span class="label label-info" *ngIf="complain.isAssignedTechnician && !complain.isSolved && !complain.isCompleted">Technician Assigned</span>
                <span class="label label-danger" *ngIf="complain.isRejected && !complain.isAssignedTechnician && !complain.isSolved && !complain.isCompleted">Rejected</span>
                <span class="label label-success" *ngIf="complain.isApproved && !complain.isRejected && !complain.isAssignedTechnician && !complain.isSolved && !complain.isCompleted">Approved</span>
                <span class="label label-warning" *ngIf="complain.isSentToLandlord && !complain.isApproved && !complain.isRejected && !complain.isAssignedTechnician && !complain.isSolved && !complain.isCompleted">Sent to Landlord</span>
                <span class="label label-primary" *ngIf="!complain.isSentToLandlord && !complain.isRejected && !complain.isApproved && !complain.isAssignedTechnician && !complain.isSolved && !complain.isCompleted">Pending</span>
              </td>
              
              <td >
                <button *ngIf="complain.isApproved == false && complain.isRejected == false && complain.isCompleted == false && complain.isSolved == false && complain.isSentToLandlord == false && complain.isAssignedTechnician == false" 
                        class="btn btn-rounded btn-primary my-2 btn-action-size" (click)="selectedApprove(complain.complainID, complain.complainInfoID, complain.landlordID)" title="Approve" style="font-size: 11px;">
                  Approve
                </button>
                <button *ngIf="complain.isApproved == true && complain.isRejected == false && complain.isCompleted == false && complain.isSolved == false && complain.isAssignedTechnician == false"
                        class="btn btn-rounded btn-warning my-2 btn-action-size" (click)="assignTechnician(complain)" title="Assign technician" style="font-size: 11px;">
                  Assign technician
                </button>
                <button *ngIf="complain.isApproved == true && complain.isSolved == false && complain.isAssignedTechnician == true" 
                        class="btn btn-rounded btn-warning my-2 btn-action-size" (click)="solve(complain.complainID)" title="Solve" style="font-size: 11px;">
                  Solve
                </button>
                <button *ngIf="complain.isSolved == true && complain.isAssignedTechnician == true" 
                        class="btn btn-rounded btn-warning my-2 btn-action-size" (click)="complete(complain.complainID)" title="Complete" style="font-size: 11px;">
                  Complete
                </button>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="d-flex justify-content-end">
          <pagination-controls id="list" (pageChange)="listPageChanged($event)" [maxSize]="5" [directionLinks]="true" [autoHide]="false" previousLabel="Previous" nextLabel="Next" style="color: black;">
          </pagination-controls>
        </div>
      </div>
    </div>
  </div>
</div>

























