<div class="container-fluid p-4">
  <h4 class="label-title">Complain List</h4>
  <br> 
  <div class="row m-t-sm mt-2">
      <div class="col-md-12 mb-4">       
        <div class="card shadow-lg p-4">
          <form [formGroup]="complainFrom">
            <div class="row g-3">   

            <div class="col-md-4 col-lg-4">
              <div class="form-group">
                <label for="propertyID" class="label-title">Property <i class="fa fa-angle-down"></i> <span class="text-danger"> *</span></label>
                <div class="dropdown-container">
                    <input type="text"   
                        [formControl]="propertySearchControl" 
                        formControlName="propertyID"
                        (focus)="isPropertyDropdownOpen = true"
                        placeholder="Search by Property..."
                    />
                    <button mat-button class="btn btn-primary btn-sm" (click)="propertyToggleDropdown()">▼</button>
                    <button *ngIf="complainFrom.controls['propertyID'].value" mat-button class="btn-clear" 
                        (click)="clearPropertySelection()" title="Clear">✖</button>              
                    <ul *ngIf="isPropertyDropdownOpen" class="dropdown-list">
                        <li *ngFor="let item of filteredProperties" (click)="selectProperty(item)">
                            {{ item.text }}
                        </li>
                        <li *ngIf="filteredProperties.length === 0">No results found</li>
                    </ul>
                </div>                        
                <div
                    *ngIf="complainFrom.get('propertyID')?.invalid && (complainFrom.get('propertyID')?.dirty || complainFrom.get('propertyID')?.touched)">
                    <span class="text-danger">Property is required.</span>
                </div>   
            </div>
            </div>            

            <div class="col-md-4 col-lg-4">
              <div class="form-group">
                <label for="stateStatus" class="label-title">Status <i class="fa fa-angle-down"></i> </label>
                <select class="form-control textbox-border-color" id="stateStatus" formControlName="stateStatus">
                  <option value="">---Search by Status---</option>
                  <option *ngFor="let item of ddlStatus">{{item}}</option> 
                </select>           
              </div>
            </div>
            <div class="col-md-4 col-lg-4">
              <div class="form-group">
                <label for="isActive" class="label-title">Activation Status <i class="fa fa-angle-down"></i> </label>
                <select class="form-control textbox-border-color" id="isActive" formControlName="isActive">
                  <option value="">---Search by Activation---</option>
                  <option value="true">Active</option>
                  <option value="false">In-Active</option>  
                </select>           
              </div>
            </div>

          </div>
          </form>
      
        </div>      
  
        <div class="card shadow-lg p-4 mt-4">
              <div class="table-scrollable">     
                  <div class="table-responsive">  
                      <div class="pointer-cursor">                                                  
                          <!-- <button
                            class="btn btn-sm btn-outline-success"
                            (click)="bulkApproveSelected()" [hidden]="!btnAllApproval || selectedComplains.size === 0 || _selectComplainStatus !== 'Pending'"                        
                        >
                           <i class="fa fa-check faa-passing"></i> | All Approve Selected
                          </button> -->
                      </div>  
                      <br>
                      <!-- <div *ngIf="selectedComplainDetails?.length; else loading"> -->
                        <table class="table table-hover table-striped textbox-border-color">
                        <thead>
                            <tr class="text-center">
                            <th>#SL</th>  
                            <th>Segment</th>                                                                
                            <th>Complain</th>
                            <th>Comments</th>
                            <th>Images</th>
                            <th>Status</th>                            
                            <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let complain of complains| paginate: { id: 'list', itemsPerPage: pagination.pageSize, currentPage: pagination.pageNumber, totalItems: pagination.totalRows }; let i = index">
                              <td>{{ (pagination.pageNumber - 1) * pagination.pageSize + i + 1 }}</td>  
                            <!-- <td>
                              <input
                                type="checkbox"
                                [formControl]="complainApprovalControls[complain.complainID]"
                                (change)="toggleIndividualSelection(complain.complainID)"
                                [disabled]="complain.stateStatus !== 'Pending'"
                              />
                            </td> -->
                            
                          <td>{{ complain.segmentName }}</td>                                     
                            <td><div class="complain-text">{{ complain.complainName }}</div></td>
                            <td>  
                              <div class="complain-text">{{ complain.comments}} </div>                     
                              <!-- <input #commentsInput type="text" class="form-control textbox-border-color" id="comments" value="{{complain.comments}}"> -->
                            </td>
                            <td style="text-align: center; vertical-align: middle;">
                                <div *ngIf="imageUrls && imageUrls[i]?.length" class="d-flex justify-content-center">
                                     <div class="row justify-content-center">
                                      <div class="col-md-3" *ngFor="let imgSrc of imageUrls[i]">
                                        <button  class="btn btn-sm btn-outline-primary btn-size" title="Show Image" style="font-size: 11px;"mat-raised-button color="primary" (click)="openModal(imgSrc)">
                                        <img [src]="imgSrc" widht="10" height="10"/>
                                      </button>
                                      </div>
                                     </div>
                                    
                                </div>
                                <span *ngIf="imageUrls[i] && (!imageUrls[i] || imageUrls[i].length === 0)"><img src="/assets/img/no-image_icon.png" alt="not found" widht="25" height="25"/></span>
                              </td>
                              <td class="text-center">
                                <span class="label label-primary"
                                *ngIf="complain.isCompleted==true; else isSolved"><i class="fa fa-check"></i>
                                Completed
                                </span> 
                                <ng-template #isSolved>
                                  <span class="label label-info"
                                *ngIf="complain.isSolved==true; else isAssignedTechnician"><i class="fa fa-check"></i>
                                  Solved
                                </span> 
                                </ng-template>
                                <ng-template #isAssignedTechnician>
                                  <span class="label label-info"
                                *ngIf="complain.isAssignedTechnician==true; else isRejected"><i class="fa fa-square-arrow-up-right"></i>
                                  Technician Assigned
                                </span> 
                                </ng-template>
                                <ng-template #isRejected>
                                  <span class="label label-danger"
                                *ngIf="complain.isRejected==true; else isApproved"><i class="fa fa-times"></i>
                                  Rejected
                                </span> 
                                </ng-template>
                                <ng-template #isApproved>
                                  <span class="label label-success"
                                *ngIf="complain.isApproved==true; else isSentToLandlord"><i class="fa fa-check"></i>
                                  Approved
                                </span> 
                                </ng-template>
                                <ng-template #isSentToLandlord>
                                  <span class="label label-warning"
                                *ngIf="complain.isSentToLandlord==true; else Pending"><i class="fa fa-paper-plane"></i>
                                  Sent to landlord
                                </span> 
                                </ng-template>
                                
                                <ng-template #Pending>
                                  <span class="label label-primary"><i class="fa fa-clock"></i>
                                  Pending
                                </span> 
                                </ng-template>

                                <!-- <span class="label label-warning"
                                    *ngIf="complain.stateStatus=='Pending'">{{complain.stateStatus
                                    + '...'}}</span>
                                <span class="label label-primary" *ngIf="complain.stateStatus=='Approved'">
                                    <i class="fa fa-check"></i> {{complain.stateStatus}}
                                </span>
                                <span class="label label-danger"
                                    *ngIf="complain.stateStatus=='Cancelled'"><i class="fa fa-times"></i>
                                    {{complain.stateStatus}}
                                </span>
                                <span class="label label-info" *ngIf="complain.stateStatus=='Recheck'"><i
                                        class="fa fa-backward"></i> {{complain.stateStatus}}
                                </span>  
                                <span class="label label-danger"
                                  *ngIf="complain.isRejected==true"><i class="fa fa-times"></i>
                                  Rejected
                                </span>   
                                <span class="label label-info"
                                *ngIf="complain.isSentToLandlord==true"><i class="fa fa-times"></i>
                                  Complain sent to Landlord
                                </span>    
                                <span class="label label-info"
                                *ngIf="complain.isAssignedTechnician==true"><i class="fa fa-times"></i>
                                 Complain assigned to Technician
                                </span>                          
                                <span class="label label-info"
                                *ngIf="complain.isSolved==true"><i class="fa fa-times"></i>
                                  Solved
                                </span>  
                                <span class="label label-info"
                                *ngIf="complain.isCompleted==true"><i class="fa fa-times"></i>
                                  Done
                                </span>   -->
                             </td>
                              <td class="text-center">
                                <!-- <button type="button"  *ngIf="complain.stateStatus=='Pending'" class="btn btn-sm btn-rounded btn-primary btn-size" title="Edit" style="font-size: 11px;" (click)="navigateToEditComplain(i)">
                                  <i class="fa fa-pencil"></i>
                                </button> -->
                                  <button *ngIf="complain.isApproved == false && complain.isRejected == false && complain.isCompleted == false
                                  && complain.isSolved == false && complain.isSentToLandlord== false && complain.isApproved == false && complain.isAssignedTechnician == false"
                                  class="btn btn-rounded btn-primary my-2 btn-action-size"
                                  (click)="selectedApprove(complain.complainID, complain.complainInfoID, complain.landlordID)"
                                  title="Approve" style="font-size: 11px;">
                                  Approve
                                 </button>
                                 <!-- &nbsp;
                                 <button *ngIf="complain.stateStatus == 'Pending'"
                                  class="btn btn-rounded btn-danger my-2 btn-action-size"
                                  (click)="selectedApprove(complain.complainID, complain.complainInfoID, 'reject', commentsInput.value)"
                                  [disabled]="complain.stateStatus !== 'Pending'" title="Approve" style="font-size: 11px;">
                                  Reject
                                 </button> -->
                                 &nbsp;
                                 <button *ngIf="complain.isApproved == false && complain.isRejected == false && complain.isCompleted == false
                                  && complain.isSolved == false && complain.isSentToLandlord== false && complain.isApproved == false && complain.isAssignedTechnician == false"
                                  class="btn btn-rounded btn-info my-2 btn-action-size2"
                                  (click)="sentToLandlord(complain.complainID, complain.complainInfoID)"
                                   title="Sent to Landlord" style="font-size: 11px;">
                                  sent to landlord
                                 </button>
                                 &nbsp;
                                 <button *ngIf="complain.isApproved == true && complain.isRejected == false && complain.isCompleted == false
                                  && complain.isSolved == false && complain.isAssignedTechnician == false"
                                  class="btn btn-rounded btn-warning my-2 btn-action-size2"
                                  (click)="assignTechnician(complain)"
                                   title="Assign technician"style="font-size: 11px; color:black">
                                  Assign technician
                                 </button>
                                 &nbsp;
                                 <button *ngIf="complain.isApproved == true && complain.isRejected == false && complain.isCompleted == false
                                  && complain.isSolved == false && complain.isAssignedTechnician == true"
                                  class="btn btn-rounded btn-warning my-2 btn-action-size"
                                  (click)="solve(complain.complainID)"
                                   title="solve" style="font-size: 11px; color:black">
                                  Solve
                                 </button>
                                 &nbsp;
                                 <button *ngIf="complain.isApproved == true && complain.isRejected == false && complain.isCompleted == false
                                  && complain.isSolved == true && complain.isAssignedTechnician == true"
                                  class="btn btn-rounded btn-warning my-2 btn-action-size"
                                  (click)="1==1"
                                   title="complete" style="font-size: 11px; color:black">
                                  Complete
                                 </button>

                              </td>
                            </tr>
                        </tbody>
                      </table>
                    
                  </div>
          
              </div>  
        </div>

        <div class="d-flex justify-content-end">
          <!-- <mat-paginator [length]="pagination.totalRows"
          [pageSize]="pagination.pageSize"
          [pageIndex]="pagination.pageNumber - 1"
          (page)="listPageChanged($event.pageIndex + 1)">
          </mat-paginator> -->

          <pagination-controls 
          id="list"
          (pageChange)="listPageChanged($event)"
          [maxSize]="5" 
          [directionLinks]="true"
          [autoHide]="false"
          previousLabel="Previous"
          nextLabel="Next" style="color: black;"> 
        </pagination-controls>
      </div>       

      </div>
   
    </div>  
</div>