$toggle-shadow: rgba(0, 0, 0, 0.5);


$text-color: #555;
$text-shadow-color: #ccc;
$border-color: #fbfbfb;
$hover-color: teal;
$expanded-color: rgb(0, 255, 81, 1);

// ------------------------------------------
// --------------------- Common
$white: #fff;
$black: #000;

// ------------------------------------------
// --------------------- Icon
$icon-shadow: #996d6d;