

$primary-palatte: (
    50 : #e0e0ff,
    100 : #b3b3ff,
    200 : #8080ff,
    300 : #4d4dff,
    400 : #2626ff,
    500 : #0000ff,
    600 : #0000ff,
    700 : #0000ff,
    800 : #0000ff,
    900 : #0000ff,
    A100 : #ffffff,
    A200 : #f2f2ff,
    A400 : #bfbfff,
    A700 : #a6a6ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);


$accent-palette: (
    50 : #e2eae9,
    100 : #b6cbc7,
    200 : #85a9a2,
    300 : #54877d,
    400 : #306d61,
    500 : #0b5345,
    600 : #0a4c3e,
    700 : #084236,
    800 : #06392e,
    900 : #03291f,
    A100 : #63ffcb,
    A200 : #30ffba,
    A400 : #00fca8,
    A700 : #00e397,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);


$warn-palette: (
    50 : #ffe0e0,
    100 : #ffb3b3,
    200 : #ff8080,
    300 : #ff4d4d,
    400 : #ff2626,
    500 : #ff0000,
    600 : #ff0000,
    700 : #ff0000,
    800 : #ff0000,
    900 : #ff0000,
    A100 : #ffffff,
    A200 : #fff2f2,
    A400 : #ffbfbf,
    A700 : #ffa6a6,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);