$dark-toggle-background: #fff;
$moon-yellow: #fffb00;


$dark-background: rgb(82, 82, 82,1);

$dark-mat-toolbar: rgb(83, 83, 83, 1);
$dark-mat-sidenav: rgb(83, 83, 83,1);

$dark-card: rgb(83, 83, 83, 1);


$dark-text: #ffffff;

$dark-border-color: #4e4e4e;


