$light-toggle-background: #ddd;
$sun-yellow: #fffb00;



$light-background: rgba(255, 255, 255);
$light-mat-toolbar: rgba(255, 255, 255);
$light-mat-sidenav:rgba(255, 255, 255);
$light-card: rgba(255, 255, 255);



$light-text: #555;


$light-border: #eee;